.summary-container {
  max-width: 90%;
  height: auto;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  border: 2px solid #333;
  border-radius: 15px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summary-container h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.summary-item {
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.summary-item span {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
