<body>
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="signup">
    <form novalidate [formGroup]="reactiveFormSignUp">
      <label for="chk" aria-hidden="true">Sign up</label>
      <input type="text"
             class="form-control"
             id="nome"
             name="nome"
             placeholder="nome"
             formControlName="nome"
             [ngClass]="{
                'is-invalid':reactiveFormSignUp.controls['nome'].invalid && reactiveFormSignUp.controls['nome'].dirty,
                'is-valid': reactiveFormSignUp.controls['nome'].valid && reactiveFormSignUp.controls['nome'].dirty
             }">
      <div *ngIf="reactiveFormSignUp.controls['nome'].errors && reactiveFormSignUp.controls['nome'].dirty"
           class="invalid-feedback">
      </div>
      <input type="text"
             class="form-control"
             id="cognome"
             name="cognome"
             placeholder="cognome"
             formControlName="cognome"
             [ngClass]="{
                'is-invalid':reactiveFormSignUp.controls['cognome'].invalid && reactiveFormSignUp.controls['cognome'].dirty,
                'is-valid': reactiveFormSignUp.controls['cognome'].valid && reactiveFormSignUp.controls['cognome'].dirty
             }">
      <div *ngIf="reactiveFormSignUp.controls['cognome'].errors && reactiveFormSignUp.controls['cognome'].dirty"
           class="invalid-feedback">
      </div>
      <input type="email"
             class="form-control"
             id="email"
             name="email"
             placeholder="email"
             formControlName="email"
             [ngClass]="{
                'is-invalid':reactiveFormSignUp.controls['email'].invalid && reactiveFormSignUp.controls['email'].dirty,
                'is-valid': reactiveFormSignUp.controls['email'].valid && reactiveFormSignUp.controls['email'].dirty
             }">
      <div *ngIf="reactiveFormSignUp.controls['email'].errors && reactiveFormSignUp.controls['email'].dirty"
           class="invalid-feedback">
      </div>
      <input type="password"
             class="form-control"
             id="password"
             name="password"
             placeholder="password"
             formControlName="password"
             [ngClass]="{
            'is-invalid':reactiveFormSignUp.controls['password'].invalid && reactiveFormSignUp.controls['password'].dirty,
            'is-valid': reactiveFormSignUp.controls['password'].valid && reactiveFormSignUp.controls['password'].dirty
         }">
      <div *ngIf="reactiveFormSignUp.controls['password'].errors && reactiveFormSignUp.controls['password'].dirty"
           class="invalid-feedback">
      </div>
      <button type="submit" [disabled]="reactiveFormSignUp.invalid" (click)="signup()">Sign up</button>
      <!--<div *ngIf="signupError" class="alert alert-danger" role="alert" style="text-align: center">
        {{ signupError }}
      </div>
      <div *ngIf="signupSuccess" class="alert alert-success" role="alert" style="text-align: center">
        {{ signupSuccess }}
      </div>-->

    </form>
  </div>

  <div class="login">
    <form [formGroup]="reactiveFormLogin">
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email"
             class="form-control"
             id="emailLogin"
             name="email"
             placeholder="email"
             formControlName="email"
             [ngClass]="{
                'is-invalid':reactiveFormLogin.controls['email'].invalid && reactiveFormLogin.controls['email'].dirty,
                'is-valid': reactiveFormLogin.controls['email'].valid && reactiveFormLogin.controls['email'].dirty
             }">
      <div *ngIf="reactiveFormLogin.controls['email'].errors && reactiveFormLogin.controls['emailLogin'].dirty"
           class="invalid-feedback">
      </div>
      <input type="password"
             class="form-control"
             id="passwordLogin"
             name="password"
             placeholder="password"
             formControlName="password"
             [ngClass]="{
            'is-invalid':reactiveFormLogin.controls['password'].invalid && reactiveFormLogin.controls['password'].dirty,
            'is-valid': reactiveFormLogin.controls['password'].valid && reactiveFormLogin.controls['password'].dirty
         }">
      <div *ngIf="reactiveFormLogin.controls['password'].errors && reactiveFormLogin.controls['password'].dirty"
           class="invalid-feedback">
      </div>
      <button type="submit" [disabled]="reactiveFormLogin.invalid" (click)="login()">Login</button>
      <div *ngIf="loginError" class="alert alert-danger" role="alert" style="text-align: center">
        {{ loginError }}
      </div>
      <div *ngIf="loginSuccess" class="alert alert-success" role="alert" style="text-align: center">
        {{ loginSuccess }}
      </div>
    </form>
  </div>
</div>
</body>
